:root {
    --dark-main: rgb(47, 48, 58);
    --blue-main: rgb(33, 150, 243);
    --gray-main: rgb(245, 244, 250);
    --white-main: rgb(255, 255, 255);
    --gray-footer: rgba(255, 255, 255, 0.6);
    --gray-category: rgb(117, 117, 117);

}

.container {
    width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
    outline: 1px solid red;

}


.about {
    margin-top: 94px;
    margin-bottom: 94px;
}




.hero {
    margin-bottom: 94px;
}

.footer-first {
    margin-top: 94px;
}

.header-first {
    margin-bottom: 94px;
}


body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
}

.header-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
}

.header-nav-link {
    font-weight: 500;
    line-height: calc(16 / 14);
}

.header-contact-link {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
}

.hero-heading {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(129 / 44);
}

.hero-button {
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30 / 16);
}

.advantages-list {
    font-weight: 700;
}

.advantages-list- {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
}

.team-headline-title {
    font-weight: 700;
    font-size: 36px;
    line-height: calc(42 / 36);
}

.caption-title {
    font-weight: 500;
    line-height: calc(19 / 14);
}

.caption-text {
    line-height: calc(19 / 16);
}

.footer-logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
}

.footer-address-list-item {
    line-height: calc(21 / 14);
}

.header-contacts-link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
}

.header-contacts-item {
    font-weight: 500;
    line-height: calc(16 / 14);
}

.header-nav-item {
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
}

.portfolio-filter-button {
    font-weight: 500;
    font-size: 16px;
    line-height: calc(26 / 16);
}

.portfolio-item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: calc(36 / 18);
}

.portfolio-item-text {
    line-height: calc(30 / 14);
}

.footer-link {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: calc(31 / 26);
}

.footer-address-item {
    line-height: calc(21 / 14);
}
